body{
    background-color:rgba(0, 0, 116, 0.76) !important;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 116, 0.76) !important;
    min-height: 100vh;
}
.question_footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 12px;
}

.quiz_card{
    width: 500px;
}

.quiz_answer_card:hover {
    cursor: pointer;
    background-color: rgb(242, 252, 248);
}

.bg-success{
    color: white;
}

.bg-danger{
    color: white;
}

.d_none{
    display: none;
}

.img_trophy{
    height: 200px;
    width: auto;
    margin-bottom: 30px;
}

#show_end_of_quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}